<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/', page]"  expand="block" fill="clear" shape="round" color="medium">
        Voltar  para o Início
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>