<ion-content class="ion-padding">
  
  <topo-login title="Cadastre-se"></topo-login>
  <br>
  <form [formGroup]="registerForm" (submit)="createUser()">

    <ion-item>
      <ion-icon slot="start" name="person" color="ifncs"></ion-icon>
      <ion-input formControlName="name" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-add" color="ifncs"></ion-icon>
      <ion-input formControlName="sname" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail" color="ifncs"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="ifncs"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="ifncs"></ion-icon>
      <ion-input formControlName="confirm_pass" type="password" placeholder="Confirmar Senha"></ion-input>
    </ion-item>
    <br/><br/>
    <ion-button [disabled]="registerForm.invalid" expand="block" shape="round" color="ifncs" size="default" type="submit">
      Enviar
    </ion-button>
  </form>

</ion-content>

<footer-voltar page="auth"></footer-voltar>



