#logo_div {
    margin-top:30px;
    height: 35%;
    display: flex;
    align-items: center; // alinhamento vertical
    justify-content:center; // horizontal
}

h3{
    text-align:center;
}

#logo_div p{
    text-align:center;
}