<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon slot="start" name="person" color="ifncs"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autofocus="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document" color="ifncs"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição da Conta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cash" color="ifncs"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor da Conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="tipo">

        <ion-list-header>
          <ion-label>Escolha</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>A Pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>A Receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <br/><br/>
    <ion-button [disabled]="contasForm.invalid" expand="block" shape="round" color="ifncs" size="default" type="submit">
      Enviar
    </ion-button>
  </form>

</ion-content>

<footer-voltar page="home"></footer-voltar>