<ion-card>
  <ion-item>
    <ion-icon slot="start" name="{{icone ? icone : ''}}" color="{{cor ? cor : ''}}"></ion-icon>
    <ion-label>{{titulo ? titulo : ''}}</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-badge color="{{cor ? cor : ''}}">{{num ? num : ''}}</ion-badge>
      </ion-col>
      <ion-col>
        <ion-text color="{{cor ? cor : ''}}">
         <p>{{valor | currency: 'BRL':true}}</p>  
        </ion-text> 
      </ion-col>
    </ion-row>
    
  </ion-card-content>
</ion-card>