<ion-content class="ion-padding">
  
  <topo-login title="Login"></topo-login>
  <br><Br>
  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon slot="start" name="mail" color="ifncs"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email" autofocus="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="ifncs"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <br/><br/>
    <ion-button [disabled]="loginForm.invalid" expand="block" shape="round" color="ifncs" size="default" type="submit">
      Enviar
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']"  expand="block" fill="clear" shape="round" color="medium">
        Esqueci minha senha  
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" expand="block" fill="clear" shape="round" color="medium">
        Criar usuário  
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>



