<ion-content class="ion-padding">
  
  <topo-login title="Esqueci minha senha"></topo-login>
  <br><br>
  <form [formGroup]="loginForm" (submit)="recoverPass()">
    <ion-item>
      <ion-icon slot="start" name="mail" color="ifncs"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email" autofocus="true" ></ion-input>
    </ion-item>
    <br/><br/>
    <ion-button [disabled]="loginForm.invalid" expand="block" shape="round" color="ifncs" size="default" type="submit">
      Enviar
    </ion-button>
  </form>

</ion-content>

<footer-voltar page="auth"></footer-voltar>



